class Pipecorn < Formula
  desc "Command-line interface for Pipecorn (B2B sales intelligence)"
  homepage "https://github.com/pipecorn/cli-pipecorn"
  version "{{VERSION}}"
  license "MIT"

  on_macos do
    on_arm do
      url "https://github.com/pipecorn/cli-pipecorn/releases/download/v{{VERSION}}/pipecorn-v{{VERSION}}-darwin-arm64.tar.gz"
      sha256 "{{SHA256_DARWIN_ARM64}}"
    end
    on_intel do
      url "https://github.com/pipecorn/cli-pipecorn/releases/download/v{{VERSION}}/pipecorn-v{{VERSION}}-darwin-x64.tar.gz"
      sha256 "{{SHA256_DARWIN_X64}}"
    end
  end

  on_linux do
    on_arm do
      url "https://github.com/pipecorn/cli-pipecorn/releases/download/v{{VERSION}}/pipecorn-v{{VERSION}}-linux-arm64.tar.gz"
      sha256 "{{SHA256_LINUX_ARM64}}"
    end
    on_intel do
      url "https://github.com/pipecorn/cli-pipecorn/releases/download/v{{VERSION}}/pipecorn-v{{VERSION}}-linux-x64.tar.gz"
      sha256 "{{SHA256_LINUX_X64}}"
    end
  end

  def install
    libexec.install Dir["*"]
    bin.install_symlink libexec/"bin/pipecorn"
  end

  test do
    assert_match version.to_s, shell_output("#{bin}/pipecorn --version")
  end
end
